@charset "UTF-8";
:root {
  --color-text: #212121;
  /*основний колір тексту*/
  --color-text-secohd: #757575;
  /*колір тексту другий*/
  --color-text-logo: #2196F3;
  /*колір лого і нав хедер*/
  --color-text-logo2: #000000;
  /*колір лого*/
  --primery-background: #ffffff;
  /* колір фону хедер */
  --second-background: #2F303A;
  /*колір фону зверху секція 1 та футер*/
  --filter-color: #F5F4FA;
  /*колір наша команда фон кнопок портфоліо*/
  --background-olor: #F5F5F5;
  /*основний колір фону*/
  --border-color: #AFB1B8;
  /*анімація*/
  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: Roboto, sans-serif;
  background-color: var(--primery-background);
  color: var(--color-text);
  margin: 0;
}

ul {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h2,
h3,
p {
  margin: 0;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.heder__container {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .heder__container {
    align-items: center;
    width: 480px;
    height: 60px;
  }
}

.header-line {
  border-bottom: 1px solid #ECECEC;
}

.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  list-style: none;
  text-decoration: none;
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

.logo__text-web {
  color: var(--color-text-logo);
}

.logo__text-studio--black {
  color: var(--color-text-logo2);
}

.logo__text-studio--white {
  color: var(--primery-background);
}

.navigation {
  display: flex;
  align-items: center;
  padding-top: 0;
  padding-bottom: 0;
}
@media screen and (max-width: 1199px) {
  .navigation {
    width: 510px;
  }
}

.header__nav {
  margin: 0px 0px 0px 93px;
}

.nav {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--color-text);
  padding: 32px 0;
  display: flex;
}
@media screen and (max-width: 767px) {
  .nav {
    display: none;
  }
}

.nav__list {
  margin-left: 50px;
  position: relative;
}
.nav__list:first-child {
  margin-left: 0;
}

.nav__link {
  text-decoration: none;
  color: var(--color-text);
  padding: 32px 0px;
  position: relative;
  transition: var(--animation);
}
.nav__link:hover, .nav__link :focus {
  color: var(--color-text-logo);
}
.nav__link:focus {
  color: var(--color-text-logo);
}

.nav__link-on {
  color: var(--color-text-logo);
  text-decoration: none;
  padding: 32px 0px;
  position: relative;
}

.nav__link-on:after {
  content: "";
  display: block;
  width: 100%;
  height: 5px;
  background: var(--color-text-logo);
  border-radius: 2px;
  position: absolute;
  bottom: -2px;
  left: 0;
  opacity: 1;
  transform: scaleX(1);
}

.nav__link.nav__link--current::after {
  content: "";
  position: absolute;
  opacity: 0;
  transform: scaleX(0.2);
  transition: opacity var(--animation), transform var(--animation);
}

.nav__link.nav__link--current:hover::after {
  content: "";
  display: block;
  width: 100%;
  height: 5px;
  background: var(--color-text-logo);
  border-radius: 2px;
  position: absolute;
  bottom: -2px;
  left: 0;
  opacity: 1;
  transform: scaleX(1);
}

.nav__link.nav__link--current:focus::after {
  content: "";
  display: block;
  width: 100%;
  height: 5px;
  background: var(--color-text-logo);
  border-radius: 2px;
  position: absolute;
  bottom: -2px;
  left: 0;
  opacity: 1;
  transform: scaleX(1);
}

.header__contact {
  margin-left: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
@media screen and (max-width: 767px) {
  .header__contact {
    display: none;
  }
}
.contact__link {
  list-style: none;
  text-decoration: none;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: var(--color-text-secohd);
  color: var(--color-text-secohd);
  transition: color var(--animation);
}
.contact__link:hover,
.contact__link :focus {
  color: var(--color-text-logo);
}
@media screen and (min-width: 1200px) {
  .contact__link {
    font-size: 14px;
    line-height: 1.14;
    padding: 32px 0;
    display: flex;
    align-items: center;
  }
}

.contact__mailto {
  width: 16px;
  height: 12px;
  margin-right: 8px;
  fill: var(--color-text-secohd);
  transition: fill var(--animation);
}
@media screen and (min-width: 1200px) {
  .contact__mailto {
    margin-right: 10px;
  }
}

@media screen and (max-width: 1199px) {
  .contact__tel--margin {
    margin-top: 10px;
    padding-right: 17px;
  }
}
@media screen and (min-width: 1200px) {
  .contact__tel--margin {
    margin-left: 30px;
  }
}

.contact__tel {
  width: 10px;
  height: 16px;
  margin-right: 8px;
  fill: var(--color-text-secohd);
  transition: fill var(--animation);
}
@media screen and (min-width: 1200px) {
  .contact__tel {
    margin-right: 10px;
  }
}

.contact__link:hover .contact__mailto,
.contact__link:hover .contact__tel,
.contact__link:focus .contact__mailto,
.contact__link:focus .contact__tel {
  fill: var(--color-text-logo);
}

.overlay-img {
  margin: auto;
  background-color: var(--second-background);
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/conteiner/mobile-img@1x.jpg);
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .overlay-img {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/conteiner/mobile-img@2x.jpg);
  }
}
@media screen and (min-width: 481px) {
  .overlay-img {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/conteiner/tablet-img@1x.jpg);
  }
}
@media screen and (min-width: 481px) and (min-device-pixel-ratio: 2), screen and (min-width: 481px) and (min-resolution: 192dpi), screen and (min-width: 481px) and (min-resolution: 2dppx) {
  .overlay-img {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/conteiner/tablet-img@2x.jpg);
  }
}
@media screen and (min-width: 769px) {
  .overlay-img {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/conteiner/desk-img@1x.jpg);
  }
}
@media screen and (min-width: 769px) and (min-device-pixel-ratio: 2), screen and (min-width: 769px) and (min-resolution: 192dpi), screen and (min-width: 769px) and (min-resolution: 2dppx) {
  .overlay-img {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/conteiner/desk-img@2x.jpg);
  }
}

.conteiner-img {
  width: 1600px;
}

.title {
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primery-background);
  text-align: center;
  max-width: 360px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6;
}
@media screen and (min-width: 1200px) {
  .title {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.title--margin {
  margin: 0px auto 30px auto;
}

.button,
.subscribe-button {
  font-family: roboto;
  cursor: pointer;
  background: var(--color-text-logo);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--primery-background);
  border-radius: 4px;
  border: none;
  padding: 10px 32px;
  display: block;
  min-width: 216px;
  margin: auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color var(--animation);
}

.button:hover {
  background-color: #188CE8;
}

.button:focus {
  background-color: #188CE8;
}

.button:focus-visible {
  outline: none;
}

.backdrop {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  transition: var(--animation);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--primery-background);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  z-index: 2;
  padding: 40px;
  width: 450px;
  height: 609px;
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.modal__button {
  position: absolute;
  width: 30px;
  height: 30px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  top: 8px;
  right: 8px;
  border-radius: 50%;
  background: var(--primery-background);
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: var(--animation);
  cursor: pointer;
}
.modal__button:focus {
  fill: var(--color-text-logo);
  border-color: var(--color-text-logo);
}
.modal__button:hover {
  fill: var(--color-text-logo);
  border-color: var(--color-text-logo);
}
.modal__button:focus-visible {
  outline: none;
}

.modal__icon {
  padding: 0;
  width: 18px;
  height: 18px;
}

.modal__title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-text);
}

/* ФОРМА */
.form__group {
  margin-bottom: 20px;
}

.form__field {
  position: relative;
  width: 100%;
  display: flex;
  margin-bottom: 10px;
  padding-top: 18px;
  transition: var(--animation);
}

.form__input:focus,
.form__massage:focus {
  border: 1px solid var(--color-text-logo);
}

.form__input {
  width: 100%;
  height: 40px;
  border: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  color: transparent;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  padding-left: 42px;
  transition: var(--animation);
}
.form__input:focus-visible {
  outline: none;
}

.form__input:focus + .form__icon {
  fill: var(--color-text-logo);
}

.form__label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--color-text-secohd);
  display: block;
  position: absolute;
  top: 0px;
}

.form__input-svg {
  position: relative;
  width: 100%;
}

.form__icon {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  display: block;
}

.checkbox {
  cursor: pointer;
}

.icon-checkbox {
  width: 16px;
  height: 15px;
  display: flex;
  cursor: pointer;
}

.form-checkbox {
  gap: 9px;
  display: flex;
  margin-bottom: 30px;
  position: relative;
  justify-content: center;
}

.form-checkbox__input {
  position: absolute;
  top: 50%;
  left: 0px;
  transform: translateY(-50%);
  display: flex;
  appearance: none;
  width: 16px;
  height: 15px;
  border: 2px solid var(--color-text);
  border-radius: 2px;
  cursor: pointer;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13' height='10' fill='none'%3E%3Cpath fill='%23fff' stroke='%23fff' stroke-width='.2' d='m1.957 4.752-.069-.066-.069.065-.888.842-.076.072.076.073 3.496 3.334.069.066.069-.066 7.504-7.158.076-.073-.076-.072-.882-.841-.069-.066-.069.066-6.553 6.246-2.539-2.422Z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  transition: var(--animation);
  background-position: center;
}
.form-checkbox__input:checked {
  background-color: var(--color-text-logo);
  border: transparent;
}
.form-checkbox__input:focus-visible {
  outline: none;
}
@media screen and (min-width: 1200px) {
  .form-checkbox__input {
    left: 10px;
  }
}

.form-checkbox__text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: var(--color-text-secohd);
  user-select: none;
}
@media screen and (min-width: 1200px) {
  .form-checkbox__text {
    font-size: 14px;
    line-height: 1.71;
  }
}

.form-checkbox__umovy-dohovoru {
  text-decoration-line: underline;
  color: var(--color-text-logo);
}
.form-checkbox__umovy-dohovoru:focus-visible {
  outline: none;
}

.form__massage {
  padding: 12px 16px;
  resize: none;
  height: 120px;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  transition: var(--animation);
}
.form__massage::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  resize: none;
}
.form__massage:focus-visible {
  outline: none;
}

@media screen and (min-width: 1200px) {
  .features {
    display: flex;
    padding: 0;
  }
}

@media screen and (min-width: 1200px) {
  .features__list:not(:first-child) {
    margin-left: 30px;
  }
}
@media screen and (max-width: 767px) {
  .features__list {
    margin-bottom: 30px;
  }
  .features__list:last-child {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 1199px) {
  .features__list {
    width: 354px;
    display: inline-flex;
    flex-wrap: wrap;
    flex-basis: 50%;
  }
  .features__list:nth-child(-n+2) {
    margin-bottom: 30px;
  }
  .features__list:nth-child(2n+1) {
    margin-right: 25px;
  }
}

.features__container {
  background-color: var(--filter-color);
  border-radius: 4px;
  height: 120px;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 767px) {
  .features__container {
    width: 450px;
    padding: 25px 192px;
  }
}
@media screen and (min-width: 768px) {
  .features__container {
    display: flex;
    flex-wrap: wrap;
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .features__container {
    width: 270px;
    display: flex;
  }
}

.features__container--margin {
  margin-bottom: 30px;
}

.features__icon {
  width: 70px;
  height: 70px;
}

.features__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14x;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-text);
}
@media screen and (max-width: 767px) {
  .features__title {
    text-align: center;
  }
}

.features__title--margin {
  margin-bottom: 10px;
}

.features__subtitle {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--color-text-secohd);
}
@media screen and (min-width: 768px) {
  .features__subtitle {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .features__subtitle {
    width: 270px;
  }
}

.work-section {
  padding-bottom: 94px;
}
@media screen and (max-width: 1199px) {
  .work-section {
    display: none;
  }
}

.title-work {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-text);
  margin-bottom: 50px;
}

.list-work {
  position: relative;
  display: inline-block;
  margin-right: 30px;
  z-index: -1;
}
.list-work:last-child {
  margin-right: 0;
}

.list-work__content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  padding-bottom: 27px;
  padding-top: 27px;
}

.list-work__content--text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primery-background);
}

.team-section {
  background-color: var(--filter-color);
  padding-bottom: 60px;
  padding-top: 60px;
}
@media screen and (min-width: 1200px) {
  .team-section {
    padding-bottom: 94px;
    padding-top: 94px;
  }
}

@media screen and (min-width: 768px) {
  .team__img {
    width: 352px;
  }
}
@media screen and (min-width: 1200px) {
  .team__img {
    width: 270px;
  }
}

.team__container--name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--color-text);
}

.team__container {
  padding-top: 30px;
  padding-bottom: 24px;
}
@media screen and (max-width: 767px) {
  .team__container {
    min-width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .team__container {
    width: 352px;
  }
}
@media screen and (min-width: 1200px) {
  .team__container {
    width: 270px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.team__container--position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--color-text-secohd);
}

.social-list {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.social-list__item {
  width: 44px;
  height: 44px;
  background-position: center;
  overflow: hidden;
  border-radius: 50%;
}

.social-list__link {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #AFB1B8;
  transition: color var(--animation), background-color var(--animation);
}
.social-list__link:hover, .social-list__link:focus {
  color: var(--primery-background);
  background-color: var(--color-text-logo);
  border-radius: 50%;
}

.social-list__icon {
  width: 22px;
  height: 22px;
  fill: currentColor;
}

.team__list {
  background-color: var(--primery-background);
  display: inline-block;
  text-align: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (max-width: 767px) {
  .team__list {
    margin-bottom: 30px;
  }
  .team__list:last-child {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 768px) {
  .team__list:nth-child(-n+2) {
    margin-bottom: 30px;
  }
  .team__list:nth-child(2n+1) {
    margin-right: 25px;
  }
}
@media screen and (min-width: 1200px) {
  .team__list {
    margin-right: 25px;
  }
  .team__list:last-child {
    margin-right: 0;
  }
}

.title-team {
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-text);
  font-size: 28px;
  line-height: 1.17;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .title-team {
    font-size: 36px;
    line-height: 1.16;
    margin-bottom: 50px;
  }
}

.team__container--position {
  margin-top: 10px;
  margin-bottom: 16px;
}

.company {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 1200px) {
  .company {
    flex-wrap: nowrap;
    margin: auto;
  }
}

.company__item {
  display: block;
}

.company__icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
}

.company__link {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--border-color);
  width: 170px;
  height: 92px;
  border-radius: 4px;
  color: var(--border-color);
  transition: color var(--animation), border-color var(--animation);
}
.company__link:hover, .company__link:focus {
  border-color: var(--color-text-logo);
  color: var(--color-text-logo);
}

/*ФУТЕР*/
.footer {
  background-color: var(--second-background);
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .container-footer {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .container-footer {
    display: flex;
    align-items: baseline;
  }
}

@media screen and (max-width: 767px) {
  .container-footer-adres {
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  .container-footer-adres {
    margin-right: auto;
  }
}

.adres__list--contact {
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--color-text-secohd);
  margin-bottom: 9px;
}

.adres__list--contact:last-child {
  margin-bottom: 0;
}

.adres {
  font-style: normal;
  margin-top: 20px;
}

.adres__list--ithem {
  flex-wrap: wrap;
  margin-bottom: 9px;
}
.adres__list--ithem:last-child {
  margin-bottom: 0;
}

.adres__list--maps {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primery-background);
  text-decoration: none;
}

/*фуТЕР СОЦ мережі*/
.footer-social__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 20px;
}
@media screen and (max-width: 767px) {
  .footer-social__title {
    text-align: center;
  }
}

.social-list__background {
  background: rgba(255, 255, 255, 0.1);
}

.social-list__footer-icon {
  width: 22px;
  height: 22px;
  fill: var(--primery-background);
}

@media screen and (max-width: 767px) {
  .footer-social {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-social {
    margin-left: 70px;
  }
}

/*футер підписатися на розсилку*/
.footer-subscribe {
  display: block;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .footer-subscribe {
    margin-top: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-subscribe {
    width: 570px;
    margin-left: 93px;
    margin-top: 0;
  }
}

.footer-subscribe__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 20px;
}
@media screen and (max-width: 1199px) {
  .footer-subscribe__text {
    text-align: center;
  }
}

.footer-subscribe__form--imput--email {
  height: 50px;
  width: 450px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  color: rgba(255, 255, 255, 0.6);
  padding-left: 16px;
}
@media screen and (min-width: 1200px) {
  .footer-subscribe__form--imput--email {
    width: 358px;
    margin-right: 7px;
  }
}

.footer-subscribe__form--imput--email::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  display: inline-flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-subscribe__button {
  min-width: 200px;
  height: 50px;
  display: inline-flex;
  margin: 0;
  padding: 10px 28px;
}
@media screen and (max-width: 1199px) {
  .footer-subscribe__button {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 50%;
    transform: translate(-50%);
  }
}

.footer-subscribe__icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

.portfolio-list {
  justify-content: center;
}
@media screen and (max-width: 767px) {
  .portfolio-list {
    display: inline-flex;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 768px) {
  .portfolio-list {
    display: flex;
    margin-bottom: 50px;
  }
}

.portfolio-list__item {
  margin-left: 8px;
}
.portfolio-list__item:first-child {
  margin-left: 0;
}

.portfolio-list__button {
  font-family: roboto;
  background: var(--filter-color);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  justify-content: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-text);
  padding: 6px 22px;
  display: block;
  transition: box-shadow var(--animation), background var(--animation), color var(--animation);
}
.portfolio-list__button:hover {
  left: 512px;
  background: var(--color-text-logo);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  color: var(--primery-background);
}
.portfolio-list__button:focus {
  left: 512px;
  background: var(--color-text-logo);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  color: var(--primery-background);
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
}

.portfolio__work {
  margin-right: 30px;
  margin-bottom: 30px;
  width: 450px;
}
@media screen and (max-width: 767px) {
  .portfolio__work {
    margin-right: 0px;
  }
}
@media screen and (max-width: 1199px) {
  .portfolio__work {
    width: 354px;
  }
  .portfolio__work:nth-child(2n) {
    margin-right: 0;
  }
  .portfolio__work:nth-last-child(-n+2) {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__work {
    width: 370px;
  }
  .portfolio__work:nth-child(3n) {
    margin-right: 0;
  }
  .portfolio__work:nth-last-child(-n+3) {
    margin-bottom: 0;
  }
}

.portfolio__work--border {
  padding: 20px 24px;
  border: 1px solid #EEEEEE;
  border-top: none;
}

.portfolio__work--title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--color-text);
  margin: 0;
  max-width: 322px;
  margin-bottom: 4px;
}

.portfolio__work--lead {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--color-text-secohd);
  max-width: 322px;
}

.portfolio__link {
  display: block;
  list-style: none;
  text-decoration: none;
  transition: box-shadow var(--animation);
}
.portfolio__link:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio__thumb {
  position: relative;
  overflow: hidden;
}

.portfolio__thumb--overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  display: flex;
  align-items: center;
  transform: translateY(101%);
  transition: transform var(--animation);
}

.portfolio__thumb--overlay--text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--primery-background);
}

.portfolio__work:hover .portfolio__thumb--overlay {
  transform: translateY(0%);
}

.portfolio__work:focus .portfolio__thumb--overlay {
  transform: translateY(0%);
}

.menu {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

@media (max-width: 767px) {
  .menu {
    display: none;
  }
}
.mobile__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #212121;
  margin-bottom: 32px;
}

.menu .mobile__link {
  padding: 10px;
  color: inherit;
  text-decoration: none;
}

.menu .mobile__link:hover,
.menu .mobile__link:focus {
  text-decoration: underline;
}

.mobile__contacts--item {
  margin-bottom: 32px;
}

.mobile__contacts--item-tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #2196F3;
  text-decoration: none;
}

.mobile__contacts--item-mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
}

.mobile__social--list {
  display: inline-flex;
  margin-top: 64px;
}

.mobile__social--list-link {
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196F3;
}

.mobile__social--list-link::before {
  content: "";
  display: block;
  width: 22px;
  height: 0px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transform: rotate(90deg);
}

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}
.menu-toggle:hover,
.menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 32px;
  background-color: #fff;
  z-index: 999;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
  padding: 48px 40px;
  display: flex;
  flex-direction: column;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: #212121;
}

.mobile-menu {
  padding: 0;
  margin-bottom: auto;
  list-style: none;
}

.mobile-menu .mobile__link {
  display: block;
  padding: 10px;
  color: #212121;
  text-decoration: none;
}/*# sourceMappingURL=main.css.map */