.features {
    
    @media screen and (min-width: 1200px) {
        display: flex;
        padding: 0;
    }
}


@media screen and (min-width: 1200px) {
    .features__list:not(:first-child) {
        margin-left: 30px;
    }
}
@media screen and (max-width: 767px){
    .features__list {
        margin-bottom: 30px;
        &:last-child {
            margin-bottom: 0;
        }
    }
}

    .features__list {
        @media screen and (max-width: 1199px) {
    width: 354px;
    display: inline-flex;
    flex-wrap: wrap;
    flex-basis: 50%;
    
        &:nth-child(-n+2) {
            margin-bottom: 30px;
        }
        &:nth-child(2n+1) {
            margin-right: 25px;
        }
    }
    
}


.features__container {
    background-color: var(--filter-color);
    border-radius: 4px;
    height: 120px;
    align-items: center;
    justify-content: center;
    @media screen and (max-width: 767px) {
        width: 450px;
        padding: 25px 192px;
    }
    @media screen and (min-width: 768px){
        display: flex;
        flex-wrap: wrap;
        width: 354px;   
    }
    @media screen and (min-width: 1200px) {
        width: 270px;
        display: flex;    
    }
}

.features__container--margin {
    margin-bottom: 30px;
}

.features__icon {
    width: 70px;
    height: 70px;
    
}

.features__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14x;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-text);
    
    @media screen and (max-width: 767px) {
        text-align: center;
        
    }
}

.features__title--margin {
    margin-bottom: 10px;
}


.features__subtitle {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--color-text-secohd);

    @media screen and (min-width: 768px) {
        width: 354px;
    }

    @media screen and (min-width: 1200px) {
        width: 270px;
    }
}
